body {
    background-color: gray;
}
#tomi{
  color: #f6f07b;  
}
#mei{
  color: #f2afce;  
}
#kanny{
  color: #de3b60;  
}
#soha{
  color: #f47c50;  
}
#dohee{
  color: #fff;  
}
#junhwi{
  color: #464153;  
}
#seungjoo{
  color: #bcddc4;  
}
