#main-img{
    width: 971px;
    height: 308px;
    background-image: url("../images/img_back.gif");
    background-repeat: no-repeat;
    background-position: center top;
}

#main-img img{
    margin: 4px 0 0 0;
}

article#front{
    margin: 5px 0 5px 20px;
}

#solution{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 910px;
    min-height: 150px;
    background: #ebebeb;
    padding: 10px;
}

#hosting, #security, #payment{
    width: 260px;
    height: 30%;
    float: left;
    padding: 10px;
    margin-right: 20px;
}

